<h2>Detalhes do Usuário</h2>
<div>
    <p>Imagem: </p>
    <p>Nome:</p>
    <p>Sobrenome: </p>
    <p>E-mail: </p>
    <p>Telefone: </p>
</div>

<input type="button" value="Voltar" [routerLink]="['/']" />